<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="billogramApiServiceUrl" value="https://sandbox.billogram.com/api/v2/"/>
    <add key="billogramApiUserId" value="[userid]"/>
    <add key="billogramApiPassword" value="[password]"/>
  </appSettings>
</configuration>