<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="billogramApiServiceUrl" value="https://sandbox.billogram.com/api/v2/"/>
    <add key="billogramApiUserId" value="5983-PpOnqJtX"/>
    <add key="billogramApiPassword" value="58ca4315d1178e7e1682cabfaf515a0c"/>
  </appSettings>
</configuration>